.button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  max-height: 52px;
  min-height: 52px;
  padding: 1rem;
  border-radius: 8px;

  background-color: var(--blue-dark);
  border: 0;
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;

  transition: background-color 0.1s;
  cursor: pointer;
}

.button[type=submit]:not(:disabled):hover {
  background-color: var(--blue);
}

.button[type=submit]:disabled {
  cursor: not-allowed;
}