.inputWrapper {
  max-width: 45.375rem;
  margin: calc(0px - 1.6875rem) auto 0px;

  display: flex;
  align-items: center;
  gap: 8px;
}

main {
  max-width: 45.375rem;
  margin: 4rem auto 0rem;
}

.tasksCountWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}


